{% extends 'catalog/base.html' %}

{% block title %}Главная страница{% endblock %}

{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Skystore</h1>
    <p class="lead">Skystore - это отличный вариант хранения ваших плагинов и примеров кода, который вы бы хотели продать</p>
</div>

<!-- Раздел для отображения последних 5 продуктов -->
<div class="row">
    <div class="col-12 text-center">
        <h2>Последние продукты</h2>
    </div>
    <div class="col-12">
        <ul class="list-group">
            {% for product in latest_products %}
                <li class="list-group-item">
                    <div class="product-item text-center">
                        {% if product.photo %}
                            <img src="{{ product.photo.url }}" alt="{{ product.name }}" class="product-photo mb-2" />
                        {% endif %}
                        <h5><a href="{% url 'catalog:product_detail' product.id %}">{{ product.name }}</a></h5> <!-- Ссылка на страницу товара -->
                        <p>{{ product.description | truncatechars:50 }}</p>
                        <p class="font-weight-bold">Цена: {{ product.price }} руб.</p>
                    </div>
                </li>
            {% empty %}
                <li class="list-group-item">Нет доступных продуктов.</li>
            {% endfor %}
        </ul>
    </div>
</div>

<!-- Раздел для отображения полного списка продуктов -->
<div class="container mt-5">
    <h1 class="mb-4">Список всех продуктов</h1>
    <ul class="list-group">
        {% for product in products %}
            <li class="list-group-item">
                <a href="{% url 'catalog:product_detail' product.id %}">{{ product.name }}</a> - {{ product.category }} - {{ product.description|truncatechars:100 }} - {{ product.price }} руб. <!-- Ссылка на страницу товара -->
            </li>
        {% empty %}
            <li class="list-group-item">Нет доступных продуктов.</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}