<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Список продуктов</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1 class="mb-4">Список продуктов</h1>
        <ul class="list-group">
            {% for product in products %}
                <li class="list-group-item">
                    <a href="{% url 'catalog:product_detail' product.id %}">{{ product.id }}. {{ product.name }}</a>
                    Категория: {{ product.category.name }} - Описание: {{ product.description | truncatechars:100 }} - Цена: {{ product.price }} руб.
                </li>
            {% endfor %}
        </ul>
        <div class="mt-4">
            <a href="{% url 'catalog:home' %}" class="btn btn-primary">На главную</a>
        </div>
    </div>

    <script src='/static/js/bootstrap.bundle.min.js'></script>
</body>
</html>